* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('loading.png') no-repeat center;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}
